<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMSWeb2.0</title>

    <link href="~/Content/MyCSS/mainStyle.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" />
    
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
<body>
    <header id="header">
        @*@RenderSection("header", required: false)*@
        <nav class="navbar navbar-expand-lg navbar-light text-white">
            <div class="container">

                <a class="text-light text-decoration-none h3 my-auto" href="@Url.Action("Home","Teacher")">
                    LMSWeb 2.0
                </a>

                @*@if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav nav-pills me-auto ms-3">
                        <li class="nav-item">
                            <a class="text-white nav-link active" aria-current="page" href="@Url.Action("Index", "Missions", new { CID = Model.CourseID})">任務管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-white nav-link" aria-current="page" href="@Url.Action("StudentManagement", "Course", new { CID = Model.CourseID})">學生名單</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-white nav-link" href="@Url.Action("TeacherJourney","LearningBehaviors", new { CID = Model.CourseID})">學習表現</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-white nav-link" href="@Url.Action("TeacherEvalutionJourney","LearningBehaviors",new {CID = Model.CourseID})">學習表現(互評版)</a>
                        </li>
                    </ul>
                }*@

                @RenderSection("NavPills", required: false)

                <ul class="navbar-nav text-light">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </header>

    <main id="main">
        @RenderBody()
    </main>

    <footer class="w-100">
        <div class="container d-flex flex-wrap text-white">
            <p class="d-block">&copy; @DateTime.Now.Year</p>
            <p class="ms-auto d-block">結合社會共享調節與互動式同儕互評的程式設計合作學習環境</p>
        </div>
    </footer>


    @*<div class="min-vh-100 d-flex flex-wrap">
            <div class="w-100 mb-auto">@RenderBody()</div>
            <footer class="w-100">
                <div class="container d-flex flex-wrap text-white">
                    <p class="d-block">&copy; @DateTime.Now.Year</p>
                    <p class="ms-auto d-block">結合社會共享調節與互動式同儕互評的程式設計合作學習環境</p>
                </div>
            </footer>
        </div>*@


    @*
        目前所有頁面都使用同一個 footer
        Nick Lu
    *@


    @* 舊版 *@
    @*<script src="~/Scripts/jquery-3.6.0.min.js"></script>*@
    @*<script src="~/Scripts/jasny-bootstrap.min.js"></script>*@

    @* 怪怪的東西 *@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap-select.js"></script>*@
    @*<script src="~/Scripts/popper.min.js"></script>*@


    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>

    @RenderSection("scripts", required: false)

    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
