@helper GetTypeString(int input)
{
    string[] str =
    {
        "控制組",
        "實驗組一：自我調節",
        "實驗組二：同儕互評",
        "實驗組三：社會共享調節",
        "實驗組四：互動式同儕互評",
        "實驗組五：社會共享調節 & 互動式同儕互評",
        "組別Type錯誤"
    };

@str[input]
}

@helper GetTaskGuideStapString(string StapName, string CurrentAction, int k)
{
    @MissionsHelper.GetTaskGuideStapString(StapName, CurrentAction, k, "")
}

@* 製作有點及功用的按鈕 *@
@helper GetTaskGuideStapString(string StapName, string CurrentAction, int k, string buttonLink)
{
    string[] str =
    {
        "step align-self-center opacity-50",
        "step align-self-center active",
        "step align-self-center"
    };

    if ((Convert.ToInt32(CurrentAction[k]) - 48) == 0) { buttonLink = "#"; }

    // -48 是因為 char 轉 int 的關係
    <div class="@str[Convert.ToInt32(CurrentAction[k])-48]" data-target="#test-vl-3">
        <a class="step-trigger" role="tab" id="stepper4trigger3" aria-controls="test-vl-3" href="@buttonLink">
            <span class="bs-stepper-circle">@(k + 1)</span>
            <span class="bs-stepper-label">@StapName</span>
        </a>
    </div>
}

@helper GetDetailDataListGroupTemplate(System.Web.Mvc.MvcHtmlString title, System.Web.Mvc.MvcHtmlString content)
{
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">@title</li>
        <li class="list-group-item list-group-item-light">@content</li>
    </ul>
}

@helper GetDetailDataListGroupTemplate(System.Web.Mvc.MvcHtmlString title, System.Web.Mvc.MvcHtmlString content, int MinHeight)
{
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">@title</li>
        <li class="list-group-item list-group-item-light" style="min-height: @(Convert.ToString(MinHeight)+"px")">@content</li>
    </ul>
}

@helper GetDetailDataListGroupTemplate_100(System.Web.Mvc.MvcHtmlString title, System.Web.Mvc.MvcHtmlString content)
{
    @GetDetailDataListGroupTemplate(title, content, 100)
}


