@model LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "StudentMission";
    
    int k = 1;
}

@section NavPills {
    <ul class="nav nav-pills me-auto ms-3">
        <li class="nav-item">
            <a class="text-white nav-link" aria-current="page" href="@Url.Action("StudentMission","Student",new { CID = Model.CID})">任務列表</a>
        </li>
    </ul>
}
<div class="container">
    
    @AllHelper.CouresTitleForStudentView(Model.CName)

    <div class="card m-3 p-4">
        <div class="row mb-3">
            <div class="col">
                <h3>任務列表</h3>
            </div>

            @*<div class="col d-flex justify-content-end me-2">
                <a href="@Url.Action("Create", "Missions", new { CID = Model.CourseID})" class="btn btn-primary w-auto mx-2 my-auto">
                    <i class="bi bi-plus-lg"></i>
                    新增任務
                </a>

                <a href="@Url.Action("SelectMissions", "Missions", new { CID = Model.CourseID })" class="btn btn-primary w-auto my-auto">
                    <i class="bi bi-files"></i>
                    複製任務
                </a>
            </div>*@
        </div>

       
        @if (Model.missions.Count() == 0)
        {
            <div class="my-5">
                <p class="alert alert-info">目前還沒有新增任務哦~</p>
            </div>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr class="row mx-1">
                        <th class="col-1">編號</th>
                        <th class="col-3">
                            @Html.DisplayNameFor(model => model.missions.First().MName)
                        </th>
                        <th class="col">
                            @Html.DisplayNameFor(model => model.missions.First().Start)
                        </th>
                        <th class="col">
                            @Html.DisplayNameFor(model => model.missions.First().End)
                        </th>
                        <th class="col"></th>
                    </tr>
                </thead>
                <tbody id="number">
                    @foreach (var item in Model.missions)
                    {
                        <tr class="row bg-white mx-1">
                            <td class="col-1 align-self-center py-3">
                                <span class='ms-2'>@(k++)</span>
                            </td>
                            <td class="col-3 align-self-center py-3">
                                @Html.DisplayFor(modelItem => item.MName)
                            </td>
                            <td class="startTime col align-self-center py-3">
                                @Html.DisplayFor(modelItem => item.Start)
                            </td>
                            <td class="endTime col align-self-center py-3">
                                @Html.DisplayFor(modelItem => item.End)
                            </td>
                            <td class="d-grid d-flex justify-content-end col">
                                <a href="@Url.Action("StudentMissionDetail","Student", new { mid=item.MID, cid = Model.CID})" class="btn btn-primary my-auto">
                                    進入任務
                                </a>
                                @*<a href="@Url.Action("Edit", "Missions", new {  mid = item.MID, cid = Model.CID})" class="btn btn-link">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Missions",new { mid=item.MID, cid=Model.CID})" class="btn btn-link">
                                    <i class="bi bi-trash-fill"></i>
                                </a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
