@model LMSweb.ViewModel.MissionCreateViewModel

@{
    ViewBag.Title = "Create";
}

@section NavPills {
    <ul class="nav nav-pills me-auto ms-3">
        <li class="nav-item">
            <a class="text-white nav-link active" aria-current="page" href="@Url.Action("Index", "Missions", new { CID = Model.CourseID})">任務管理</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" aria-current="page" href="@Url.Action("StudentManagement", "Course", new { CID = Model.CourseID})">學生名單</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" href="@Url.Action("TeacherJourney","LearningBehaviors", new { CID = Model.CourseID})">學習表現</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" href="@Url.Action("TeacherEvalutionJourney","LearningBehaviors",new {CID = Model.CourseID})">學習表現(互評版)</a>
        </li>
    </ul>
}



<div class="container">

    @AllHelper.CouresTitleForTeacherView(Model.CourseName)
    
    <div class="card m-3 p-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 class="fs-3 text-center my-1">新增任務</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="mb-3 my-1">
                    @Html.LabelFor(model => model.Name, new { @class = "form-label ms-2 fs-5 my-1" })
                    <div class="row mx-1">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-12 fs-5" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3 my-1">
                    @Html.LabelFor(model => model.Contents, new { @class = "form-label ms-2 fs-5 my-1" })
                    <div class="row mx-1">
                        @Html.TextAreaFor(model => model.Contents, new { @class = "form-control col-12 fs-5", rows = "10" })
                        @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3 my-1">
                    @Html.LabelFor(model => model.StartDate, new { @class = "form-label ms-2 fs-5 my-1" })
                    <div class="row mx-1">
                        @Html.TextBoxFor(model => model.StartDate, new { type = "datetime-local", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 my-1">
                    @Html.LabelFor(model => model.EndDate, new { @class = "form-label ms-2 fs-5 my-1" })
                    <div class="row mx-1">
                        @Html.TextBoxFor(model => model.EndDate, new { type = "datetime-local", @class = "form-control", id = "datetimepicker1" })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <input type="submit" value="送出" class="btn btn-primary w-auto px-5 ms-auto" />
                        <a class="btn btn-secondary w-auto px-5 ms-1 me-3" href="@Url.Action("Index", "Missions" , new { cid = Model.CourseID })">取消</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>