@model LMSweb.ViewModel.MissionViewModel

@{
    ViewBag.Title = "Delete";
}

@section NavPills {
    <ul class="nav nav-pills me-auto ms-3">
        <li class="nav-item">
            <a class="text-white nav-link active" aria-current="page" href="@Url.Action("Index", "Missions", new { CID = Model.CID})">任務管理</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" aria-current="page" href="@Url.Action("StudentManagement", "Course", new { CID = Model.CID})">學生名單</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" href="@Url.Action("TeacherJourney","LearningBehaviors", new { CID = Model.CID})">學習表現</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" href="@Url.Action("TeacherEvalutionJourney","LearningBehaviors",new {CID = Model.CID})">學習表現(互評版)</a>
        </li>
    </ul>
}

@*@section header {
        @Html.Partial("../Shared/Header/HeaderNavbar")
    }*@

@*<nav class="navbar navbar-expand-lg navbar-light navBG" style="border-radius: 0 0 5px 5px;">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link text-light active" href="@Url.Action("Home","Teacher")">
                            <i class="bi bi-house-door"></i>
                            回課程首頁
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-light" href="@Url.Action("Index", "Missions", new { cid = Model.CID})">任務列表</a></li>
                </ul>
            </div>
        </div>
    </nav>*@

<div class="container">
    <div class="card m-3 p-3">
        <div class="row m-2">
            <h1 class="w-auto fs-2 my-auto">@Model.CName</h1>
            <ol class="breadcrumb bg-white m-3">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Missions", new { cid = Model.CID})">任務列表</a></li>
                <li class="breadcrumb-item" active" aria-current="page">任務列表</li>
            </ol>
        </div>
    </div>
    <div class="card m-3 p-3">
        <h4 class="fs-3 text-center my-1">刪除任務</h4>
        <div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark fs-4">
                    @Html.DisplayNameFor(model => model.mis.Course.CName)
                </li>
                <li class="list-group-item list-group-item-light fs-5">
                    @Html.DisplayFor(model => model.mis.Course.CName)
                </li>
                @* ----------------------------------------------- *@
                <li class="list-group-item list-group-item-dark fs-4">
                    @Html.DisplayNameFor(model => model.mis.MName)
                </li>
                <li class="list-group-item list-group-item-light fs-5">
                    @Html.DisplayFor(model => model.mis.MName)
                </li>
                @* ----------------------------------------------- *@
                <li class="list-group-item list-group-item-dark fs-4">
                    @Html.DisplayNameFor(model => model.mis.Start)
                </li>
                <li class="list-group-item list-group-item-light fs-5">
                    @Html.DisplayFor(model => model.mis.Start)
                </li>
                @* ----------------------------------------------- *@
                <li class="list-group-item list-group-item-dark fs-4">
                    @Html.DisplayNameFor(model => model.mis.End)
                </li>
                <li class="list-group-item list-group-item-light fs-5">
                    @Html.DisplayFor(model => model.mis.End)
                </li>
                @* ----------------------------------------------- *@
                <li class="list-group-item list-group-item-dark fs-4">
                    @Html.DisplayNameFor(model => model.mis.MDetail)
                </li>
                <li class="list-group-item list-group-item-light fs-5">
                    @Html.DisplayFor(model => model.mis.MDetail)
                </li>
            </ul>
            <hr />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="mb-3 row">
                    <h5 class="col text-success fs-3 fw-bold">確認要刪除此任務?</h5>
                    <div class="col row">
                        <input type="submit" value="刪除" class="btn btn-primary w-auto px-5 ms-auto" />
                        <input type="button" value="取消" class="btn btn-secondary w-auto px-5 ms-1 me-3" onclick="location.href='@Url.Action("Index", "Missions" , new { cid = Model.mis.CID })'" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>