@model LMSweb.ViewModel.MissionDetailViewModel
@{
    ViewBag.Title = "Details";
}

@section NavPills {
    <ul class="nav nav-pills me-auto ms-3">
        <li class="nav-item">
            <a class="text-white nav-link active" aria-current="page" href="@Url.Action("Index", "Missions", new { CID = Model.CourseID})">任務管理</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" aria-current="page" href="@Url.Action("StudentManagement", "Course", new { CID = Model.CourseID})">學生名單</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" href="@Url.Action("TeacherJourney","LearningBehaviors", new { CID = Model.CourseID})">學習表現</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" href="@Url.Action("TeacherEvalutionJourney","LearningBehaviors",new {CID = Model.CourseID})">學習表現(互評版)</a>
        </li>
    </ul>
}

<div class="container">

    <div class="card m-3 p-3">
        <h1 class="w-auto m-2 fs-2">@Model.CourseName</h1>
        @*<div class="row m-2">
                <h1 class="w-auto fs-2">@Model.CourseName</h1>
                <ol class="breadcrumb bg-white ms-2">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Missions", new { CID = Model.CourseID})">任務列表</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                </ol>
            </div>*@
        @* 任務引導模組 *@
        @*<div class="btn-group w-100 mt-3" role="group" aria-label="Basic outlined example">
                <button type="button" disabled class="btn opacity-75 btn-secondary">目標設置</button>
                <button type="button" disabled class="btn opacity-75 btn-secondary">合作討論</button>
                <button type="button" disabled class="btn opacity-100 btn-primary">畫流程圖</button>
                <button type="button" disabled class="btn opacity-100 btn-outline-primary">寫程式碼</button>
                <button type="button" disabled class="btn opacity-100 btn-outline-primary">同儕評價</button>
                <button type="button" disabled class="btn opacity-100 btn-outline-primary">評價回饋</button>
                <button type="button" disabled class="btn opacity-100 btn-outline-primary">團隊反思</button>
            </div>*@
    </div>

    <div class="row m-3">
        <div class="col card me-2 p-3 bg-white h-100 ">
            <div class="shadow-sm">
                <h3 class="text-center">任務進度</h3>
                @*@switch (Model)
                {
                    case 0: break;
                    case 1: break;
                    case 2: break;
                    case 3: break;
                    case 4: break;
                    case 5: break;
                }*@

                <div id="stepper4" class="bs-stepper vertical h-100">
                    <div class="bs-stepper-header w-100" role="tablist">
                        <div class="step align-self-center" data-target="#test-vl-1">
                            <button type="button" class="step-trigger" role="tab" id="stepper4trigger1" aria-controls="test-vl-1">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">目標設置</span>
                            </button>
                        </div>
                        <div class="bs-stepper-line"></div>
                        <div class="step align-self-center" data-target="#test-vl-2">
                            <button type="button" class="step-trigger" role="tab" id="stepper4trigger2" aria-controls="test-vl-2">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">合作討論</span>
                            </button>
                        </div>
                        <div class="bs-stepper-line"></div>
                        <div class="step align-self-center active" data-target="#test-vl-3">
                            <button type="button" class="step-trigger" role="tab" id="stepper4trigger3" aria-controls="test-vl-3">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">畫流程圖</span>
                            </button> 
                        </div>
                        <div class="bs-stepper-line"></div>
                        <div class="step align-self-center opacity-50" data-target="#test-vl-3">
                            <button type="button" class="step-trigger" role="tab" id="stepper4trigger3" aria-controls="test-vl-4">
                                <span class="bs-stepper-circle">4</span>
                                <span class="bs-stepper-label">寫程式碼</span>
                            </button>
                        </div>
                        <div class="bs-stepper-line"></div>
                        <div class="step align-self-center opacity-50" data-target="#test-vl-3">
                            <button type="button" class="step-trigger" role="tab" id="stepper4trigger3" aria-controls="test-vl-5">
                                <span class="bs-stepper-circle">5</span>
                                <span class="bs-stepper-label">同儕互評</span>
                            </button>
                        </div>
                        <div class="bs-stepper-line"></div>
                        <div class="step align-self-center opacity-50" data-target="#test-vl-3">
                            <button type="button" class="step-trigger" role="tab" id="stepper4trigger3" aria-controls="test-vl-6">
                                <span class="bs-stepper-circle">6</span>
                                <span class="bs-stepper-label">評價回饋</span>
                            </button>
                        </div>
                        <div class="bs-stepper-line"></div>
                        <div class="step align-self-center opacity-50" data-target="#test-vl-3">
                            <button type="button" class="step-trigger" role="tab" id="stepper4trigger3" aria-controls="test-vl-7">
                                <span class="bs-stepper-circle">7</span>
                                <span class="bs-stepper-label">團隊反思</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-10 card p-3 bg-white ">
            <div class="mx-3">
                <div class="row mb-3">
                    <div class="col">
                        <h3>@Model.Name</h3>
                    </div>
                    <div class="col d-flex justify-content-end me-2">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Missions", new {  mid = Model.MissionID, cid = Model.CourseID})'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                            編輯任務
                        </button>
                    </div>
                </div>


                <div class="row gx-2 gy-3">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">@Html.DisplayNameFor(model => model.Content)</li>
                        <li class="list-group-item list-group-item-light">@Html.DisplayFor(model => model.Content, new { })</li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">@Html.DisplayNameFor(model => model.StartDate)</li>
                        <li class="list-group-item list-group-item-light">@Html.DisplayFor(model => model.StartDate)</li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">@Html.DisplayNameFor(model => model.EndDate)</li>
                        <li class="list-group-item list-group-item-light">@Html.DisplayFor(model => model.EndDate)</li>
                    </ul>

                    <div class="mb-3">
                        <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("TeacherChat","Teacher",new { mid = Model.MissionID, cid=Model.CourseID })'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
                            </svg>
                            學生討論區
                        </button>
                        <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("StudentSurvey","Course",new { mid = Model.MissionID, cid=Model.CourseID })'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                                <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                            </svg>
                            後設認知問卷答題情況
                        </button>
                        <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index","Groups",new { mid = Model.MissionID, cid=Model.CourseID })'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                            </svg>
                            批改作業
                        </button>
                    </div>
                </div>

                
                @*<div class="w-100 fs-5 mx-2">
            <table class="table table-bordered table-secondary">
                <tbody>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Content, new { })
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.StartDate)
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.EndDate)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>*@
                <br />



                @*<div class="mb-3">
            後設認知開啟/關閉 :
            @if (Model.mis.AddMetacognition)  //true
                {
                <button type="button" class="btn btn-success" id="is_AddMeta">後設認知狀態 : 開啟</button>
            }
            else   //false
            {
                <button type="button" class="btn btn-secondary" id="is_AddMeta">後設認知狀態 : 關閉</button>
            }
        </div>*@
                <!--<div class="mb-3">
    題目設置 :
    <button type="button" class="btn btn-outline-dark" id="question" onclick="location.href='@Url.Action("Index","Questions",new { mid = Model.MissionID, cid=Model.CourseID })'">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
        </svg>
        後設認知題目
    </button>-->
                @*<button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("PersonalAbility","Questions",new { mid = Model.MID, cid=Model.CID })'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
            </svg>
            自評互評題目
        </button>*@
                <!--</div>-->
                @*<div class="mb-3">
            功能開啟/關閉 :
        </div>
        <div class="mb-3">
            @if (Model.IsAddMetacognition)
            {
                if (Model.IsGoalSetting)
                {
                    <button type="button" class="btn btn-success" id="is_Goalsetting">目標設置開啟</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" id="is_Goalsetting">目標設置關閉</button>
                }
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Goalsetting" hidden>目標設置關閉</button>
            }

            @if (Model.IsDiscuss)
            {
                <button type="button" class="btn btn-success" id="is_Discuss">討論區開啟</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Discuss">討論區關閉</button>
            }
            @if (Model.IsDrawing)
            {
                <button type="button" class="btn btn-success" id="is_Drawing">流程圖開啟</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Drawing">流程圖關閉</button>
            }
            @if (Model.IsCoding)
            {
                <button type="button" class="btn btn-success" id="is_Coding">程式碼開啟</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Coding">程式碼關閉</button>
            }
            @if (Model.IsAddPeerAssessmemt)
            {
                if (Model.IsAssess)
                {
                    <button type="button" class="btn btn-success" id="is_Assess">自評與互評開啟</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" id="is_Assess">自評與互評關閉</button>
                }

                if (Model.IsGReflect)
                {
                    <button type="button" class="btn btn-success" id="is_GReflect">組間互評開啟</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" id="is_GReflect">組間互評關閉</button>
                }
            }
            else
            {
                <button type="button" class="btn btn-secondary" hidden id="is_Assess">自評與互評關閉</button>
                <button type="button" class="btn btn-secondary" hidden id="is_GReflect">組間互評關閉</button>

            }

            @if (Model.IsAddMetacognition)
            {
                if (Model.IsReflect)
                {
                    <button type="button" class="btn btn-success" id="is_Reflect">自我反思開啟</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" id="is_Reflect">自我反思關閉</button>
                }
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Reflect" hidden>自我反思</button>
            }

            @if (Model.Is_Journey)
            {
                if (Model.IsAddPeerAssessmemt)
                {
                    <button type="button" class="btn btn-success" id="is_ejourney">學習表現(互評版)開啟</button>
                }
                else
                {
                    <button type="button" class="btn btn-success" id="is_journey">學習表現開啟</button>
                }
            }
            else
            {
                if (Model.IsAddPeerAssessmemt)
                {
                    <button type="button" class="btn btn-secondary" id="is_ejourney">學習表現(互評版)關閉</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" id="is_journey">學習表現關閉</button>
                }
            }
        </div>*@
            </div>
        </div>

    </div>

</div>

@section Scripts
{
    <script>
        $("#is_Drawing").click(function () {
            var data = {};
            data['mid'] = '@Model.MissionID';
            data['cid'] = '@Model.CourseID';
            data['type'] = "is_Drawing";
            data['sw'] = $("#is_Drawing").text().trim() == "流程圖關閉" ? true  : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Drawing").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Drawing").text("流程圖關閉");
                            $("#is_Drawing").addClass("btn btn-secondary");

                        } else {
                            $("#is_Drawing").text("流程圖開啟");
                            $("#is_Drawing").addClass("btn btn-success");
                        }
                    }
                }
            });
        });
        $("#is_Coding").click(function () {
            var data = {};
            data['mid'] = '@Model.MissionID';
            data['cid'] = '@Model.CourseID';
            data['type'] = "is_Coding";
            data['sw'] = $("#is_Coding").text().trim() == "程式碼關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Coding").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Coding").text("程式碼關閉");
                            $("#is_Coding").addClass("btn btn-secondary");
                        } else {
                            $("#is_Coding").text("程式碼開啟");
                            $("#is_Coding").addClass("btn btn-success");
                        }
                    }
                }
            });
        });
        $("#is_Discuss").click(function () {
            var data = {};
            data['mid'] = '@Model.MissionID';
            data['cid'] = '@Model.CourseID';
            data['type'] = "is_Discuss";
            data['sw'] = $("#is_Discuss").text().trim() == "討論區關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Discuss").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Discuss").text("討論區關閉");
                            $("#is_Discuss").addClass("btn btn-secondary");
                        } else {
                            $("#is_Discuss").text("討論區開啟");   //狀態為開啟
                            $("#is_Discuss").addClass("btn btn-success");
                        }
                    }
                }
            });
        });
        $("#is_Assess").click(function () {
            var data = {};
            data['mid'] = '@Model.MissionID';
            data['cid'] = '@Model.CourseID';
            data['type'] = "is_Assess";
            data['sw'] = $("#is_Assess").text().trim() == "自評與互評關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Assess").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Assess").text("自評與互評關閉");
                            $("#is_Assess").addClass("btn btn-secondary");
                        } else {
                            $("#is_Assess").text("自評與互評開啟");   //狀態為開啟
                            $("#is_Assess").addClass("btn btn-success");
                        }
                    }
                }
            });
        });
        $("#is_Goalsetting").click(function () {
            var data = {};
            data['mid'] = '@Model.MissionID';
            data['cid'] = '@Model.CourseID';
            data['type'] = "is_Goalsetting";
            data['sw'] = $("#is_Goalsetting").text().trim() == "目標設置關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Goalsetting").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Goalsetting").text("目標設置關閉");
                            $("#is_Goalsetting").addClass("btn btn-secondary");
                        } else {
                            $("#is_Goalsetting").text("目標設置開啟");   //狀態為開啟
                            $("#is_Goalsetting").addClass("btn btn-success");
                        }
                    }
                }
            });
        });
        $("#is_Reflect").click(function () {
            var data = {};
            data['mid'] = '@Model.MissionID';
            data['cid'] = '@Model.CourseID';
            data['type'] = "is_Reflect";
            data['sw'] = $("#is_Reflect").text().trim() == "自我反思關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Reflect").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Reflect").text("自我反思關閉");
                            $("#is_Reflect").addClass("btn btn-secondary");
                        } else {
                            $("#is_Reflect").text("自我反思開啟");   //狀態為開啟
                            $("#is_Reflect").addClass("btn btn-success");
                        }
                    }
                }
            });
        });
        $("#is_GReflect").click(function () {
            var data = {};
            data['mid'] = '@Model.MissionID';
            data['cid'] = '@Model.CourseID';
            data['type'] = "is_GReflect";
            data['sw'] = $("#is_GReflect").text().trim() == "組間互評關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_GReflect").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_GReflect").text("組間互評關閉");
                            $("#is_GReflect").addClass("btn btn-secondary");
                        } else {
                            $("#is_GReflect").text("組間互評開啟");   //狀態為開啟
                            $("#is_GReflect").addClass("btn btn-success");
                        }
                    }
                }
            });
        });
        $("#is_ejourney").click(function () {
            var data = {};
            data['mid'] = '@Model.MissionID';
            data['cid'] = '@Model.CourseID';
            data['type'] = "is_Journey";
            data['sw'] = $("#is_ejourney").text().trim() == "學習表現(互評版)關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_ejourney").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_ejourney").text("學習表現(互評版)關閉");
                            $("#is_ejourney").addClass("btn btn-secondary");
                        } else {
                            $("#is_ejourney").text("學習表現(互評版)開啟");   //狀態為開啟
                            $("#is_ejourney").addClass("btn btn-success");
                        }
                    }
                }
            });
        });
        $("#is_journey").click(function () {
            var data = {};
            data['mid'] = '@Model.MissionID';
            data['cid'] = '@Model.CourseID';
            data['type'] = "is_Journey";
            data['sw'] = $("#is_journey").text().trim() == "學習表現關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_journey").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_journey").text("學習表現關閉");
                            $("#is_journey").addClass("btn btn-secondary");
                        } else {
                            $("#is_journey").text("學習表現開啟");   //狀態為開啟
                            $("#is_journey").addClass("btn btn-success");
                        }
                    }
                }
            });
        });
        @*$("#is_AddMeta").click(function () {
            var data = {};
            data['mid'] = '@Model.MID';
            data['cid'] = '@Model.CID';
            data['type'] = "is_AddMeta";
            data['sw'] = $("#is_AddMeta").text().trim() == "後設認知" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_AddMeta").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_AddMeta").text("後設認知狀態 : 關閉");
                            $("#is_AddMeta").addClass("btn btn-secondary");
                            $("#question").attr('hidden', true);
                            $("#is_Goalsetting").attr('hidden', true);
                            $("#is_Reflect").attr('hidden', true);
                        } else {
                            $("#is_AddMeta").text("後設認知狀態 : 開啟");   //狀態為開啟
                            $("#is_AddMeta").addClass("btn btn-success");
                            $("#question").attr('hidden', false);
                            $("#is_Goalsetting").attr('hidden', false);
                            $("#is_Reflect").attr('hidden', false);
                        }
                    }
                }
            });
        });*@

    </script>
}


