@model  LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "SelectMission";

    // 編號用變數
    int k = 1;
}

@section NavPills {
    <ul class="nav nav-pills me-auto ms-3">
        @AllHelper.SetActiveNavData(Url.Action("Index", "Missions", new { CID = Model.CID }), "任務管理")
        @AllHelper.SetUnActiveNavData(Url.Action("StudentManagement", "Course", new { CID = Model.CID }), "學生名單")
        @AllHelper.SetUnActiveNavData(Url.Action("TeacherJourney", "LearningBehaviors", new { CID = Model.CID }), "學習表現")
        @AllHelper.SetUnActiveNavData(Url.Action("TeacherEvalutionJourney", "LearningBehaviors", new { CID = Model.CID }), "學習表現(互評版)")
    </ul>
}

<div class="container">

    @AllHelper.CouresTitleForTeacherView(Model.CName)
    
    <div class="card m-3 p-4">
        <h4><b>複製任務</b></h4>
        <hr />
        @* 這邊 table 會偏左 暫時找不到原因 使用 ms-3 先作業面校正 *@
        <table id="table_id" class="table table-striped ms-3">
            <thead>
                <tr class="row w-100">
                    <th class="col-1">
                        編號
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.missions.First().Course.CName)
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.missions.First().MName)
                    </th>
                    <th class="col-3">
                        @Html.DisplayNameFor(model => model.missions.First().MDetail)
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.missions.First().Start)
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.missions.First().End)
                    </th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody id="number">
                @foreach (var item in Model.missions)
                {
                    <tr class="row w-100">
                        <td class="pt-3 col-1">
                            @(k++)
                        </td>
                        <td class="pt-3 col">
                            @Html.DisplayFor(modelItem => item.Course.CName)
                        </td>
                        <td class="pt-3 col">
                            @Html.DisplayFor(modelItem => item.MName)
                        </td>
                        <td class="pt-3 col-3">
                            @Html.DisplayFor(modelItem => item.MDetail)
                        </td>
                        <td class="pt-3 col">
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td class="pt-3 col">
                            @Html.DisplayFor(modelItem => item.End)

                        </td>
                        <td class="pt-2 col">
                            <a href="@Url.Action("AddMissions", "Missions", new { mid = item.MID, cid = Model.CID})" class="btn btn-primary w-auto mx-2">
                                <i class="bi bi-plus-lg"></i>
                                複製此任務
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
